In [1]:
import json
import pandas as pd
import numpy as np

In [2]:
data_list = []

with open('business.json', 'r', encoding='utf-8') as f:
    for line in f:
        data = json.loads(line)
        data_list.append(data)

df = pd.DataFrame(data_list)

print(df)

                   business_id                      name  \
0       Pns2l4eNsfO8kk83dixA6A  Abby Rappoport, LAC, CMQ
1       mpf3x-BjTdTEA3yCZrAYPw             The UPS Store
2       tUFrWirKiKi_TAnsVWINQQ                    Target
3       MTSW4McQd7CbVtyjqoe9mw        St Honore Pastries
4       mWMc6_wTdE0EUBKIGXDVfA  Perkiomen Valley Brewery
...                        ...                       ...
150341  IUQopTMmYQG-qRtBk-8QnA              Binh's Nails
150342  c8GjPIOTGVmIemT7j5_SyQ      Wild Birds Unlimited
150343  _QAMST-NrQobXduilWEqSw         Claire's Boutique
150344  mtGm22y5c2UHNXDFAjaPNw  Cyclery & Fitness Center
150345  jV_XOycEzSlTx-65W906pg                   Sic Ink

                                address           city state postal_code  \
0                1616 Chapala St, Ste 2  Santa Barbara    CA       93101
1       87 Grasso Plaza Shopping Center         Affton    MO       63123
2                  5255 E Broadway Blvd         Tucson    AZ       85711
3                           935 Race St   Philadelphia    PA       19107
4                         101 Walnut St     Green Lane    PA       18054
...                                 ...            ...   ...         ...
150341                3388 Gateway Blvd       Edmonton    AB     T6J 5H2
150342               2813 Bransford Ave      Nashville    TN       37204
150343           6020 E 82nd St, Ste 46   Indianapolis    IN       46250
150344                     2472 Troy Rd   Edwardsville    IL       62025
150345            238 Apollo Beach Blvd   Apollo beach    FL       33572

         latitude   longitude  stars  review_count  is_open  \
0       34.426679 -119.711197    5.0             7        0
1       38.551126  -90.335695    3.0            15        1
2       32.223236 -110.880452    3.5            22        0
3       39.955505  -75.155564    4.0            80        1
4       40.338183  -75.471659    4.5            13        1
...           ...         ...    ...           ...      ...
150341  53.468419 -113.492054    3.0            13        1
150342  36.115118  -86.766925    4.0             5        1
150343  39.908707  -86.065088    3.5             8        1
150344  38.782351  -89.950558    4.0            24        1
150345  27.771002  -82.394910    4.5             9        1

                                               attributes  \
0                           {'ByAppointmentOnly': 'True'}
1                  {'BusinessAcceptsCreditCards': 'True'}
2       {'BikeParking': 'True', 'BusinessAcceptsCredit...
3       {'RestaurantsDelivery': 'False', 'OutdoorSeati...
4       {'BusinessAcceptsCreditCards': 'True', 'Wheelc...
...                                                   ...
150341  {'ByAppointmentOnly': 'False', 'RestaurantsPri...
150342  {'BusinessAcceptsCreditCards': 'True', 'Restau...
150343  {'RestaurantsPriceRange2': '1', 'BusinessAccep...
150344  {'BusinessParking': '{'garage': False, 'street...
150345  {'WheelchairAccessible': 'True', 'BusinessAcce...

                                               categories  \
0       Doctors, Traditional Chinese Medicine, Naturop...
1       Shipping Centers, Local Services, Notaries, Ma...
2       Department Stores, Shopping, Fashion, Home & G...
3       Restaurants, Food, Bubble Tea, Coffee & Tea, B...
4                               Brewpubs, Breweries, Food
...                                                   ...
150341                         Nail Salons, Beauty & Spas
150342  Pets, Nurseries & Gardening, Pet Stores, Hobby...
150343  Shopping, Jewelry, Piercing, Toy Stores, Beaut...
150344  Fitness/Exercise Equipment, Eyewear & Optician...
150345  Beauty & Spas, Permanent Makeup, Piercing, Tattoo

                                                    hours
0                                                    None
1       {'Monday': '0:0-0:0', 'Tuesday': '8:0-18:30', ...
2       {'Monday': '8:0-22:0', 'Tuesday': '8:0-22:0', ...
3       {'Monday': '7:0-20:0', 'Tuesday': '7:0-20:0', ...
4       {'Wednesday': '14:0-22:0', 'Thursday': '16:0-2...
...                                                   ...
150341  {'Monday': '10:0-19:30', 'Tuesday': '10:0-19:3...
150342  {'Monday': '9:30-17:30', 'Tuesday': '9:30-17:3...
150343                                               None
150344  {'Monday': '9:0-20:0', 'Tuesday': '9:0-20:0', ...
150345  {'Tuesday': '12:0-19:0', 'Wednesday': '12:0-19...

[150346 rows x 14 columns]

In [3]:
strong_tag = ['Alternative Medicine',' Cannabis Clinics',' Cannabis Dispensaries','Concierge Medicine',' Counseling & Mental Health',' Dentists',' Dermatologists','Diagnostic Services',' Doctors',' Drugstores',' Health & Medical',' Health Coach','Health Markets','Herbal Shops','Home Health Care',' Hospitals',' Internal Medicine',' Medical Centers',' Medical Supplies',' Nutritionists',' Obstetricians & Gynecologists',' Pain Management',' Pharmacy',' Psychologists',' Sleep Specialists',' Urgent Care',' Vitamins & Supplements',' Walk-in Clinics']

In [4]:
def split_by_comma(input_string):
    if pd.isna(input_string):
        return []
    else:
        return [s.strip() for s in input_string.split(',')]

df['split_categories'] = df['categories'].apply(split_by_comma)

id = []
for i in range(np.shape(df)[0]):
    for j in strong_tag:
        if j in df['split_categories'][i]:
            id.append(i)
        
id = np.unique(id)
len(id)

1278

In [5]:
df["city"][id].value_counts()

Tampa             99
Philadelphia      97
Tucson            79
Reno              69
Nashville         58
                  ..
Oakville           1
Terrytown          1
Clayton            1
Fairless Hills     1
Mt. Juliet         1
Name: city, Length: 211, dtype: int64

In [6]:
PA_id = df['business_id'][id[df["city"][id]=='Philadelphia']]
PA = df.loc[id[df["city"][id]=='Philadelphia']]
PA = PA.loc[PA['is_open']==1,]

In [7]:
unique_name = PA.name.value_counts()
unique_name.to_csv('unique_name.csv', index = True)